# Dependencies and build outputs
node_modules/
vendor/
assets/tailwind.css.map
assets/tailwind.css

# Environment and secrets
.env
.env.*
*.local

# OS and editor files
.DS_Store
Thumbs.db
*.log
.idea/
.vscode/
.fleet/

# Caches and temp
.tmp/
.cache/


# OS trash and archives
**/.Trash
*.zip
*.tar.gz


